<html lang="en">
<head>
  <title>Investment- About us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/ulg/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!--custom link-->
<link rel="stylesheet" type="text/css" href="../style/style.css">
<link rel="stylesheet" type="text/css" href="../style/investor_style.css">
<link rel="stylesheet" type="text/css" href="../style/about_style.css">
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light position-absolute w-100 mt-sm-5 mt-5">
  <div class="container mt-sm-1 mt-4" id="nav-con">
    <a class="navbar-brand" href="#"><b>Ifundingroup</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="border-color:white">
  <span>   
    <i class="fa fa-navicon" style="color:#fff; font-size:20px;"></i>
  </span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../index.html">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="invest_your_money.html">Invest your money</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="business_loan.html">Get a business loan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about_us.html">About us</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="contact_us.html">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row master-bg text-white pb-sm-0 pb-2">
    <div class="col-sm-6 pl-5 text-sm-left text-center">
     <i class="fa fa-mobile" style="font-size: 25px"></i>
     <span style="font-size: 19px;"> +11 1234567891</span>
    </div>

    <div class="col-sm-6 text-sm-right text-center pr-5 pt-1">
      <i class="fa fa-whatsapp fa-lg pr-4 pl-5"></i>
      <i class="fa fa-facebook fa-lg pr-3 pr-sm-"></i>
      <i class="fa fa-twitter fa-lg pr-3"></i>
      <i class="fa fa-instagram fa-lg"></i>
    </div>
  </div>
</div>
<!-- Full Page Image Header with Vertically Centered Content -->
<header class="about_masthead">
<div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 pt-5">
        <h1 class="font-weight-bold text-white display-sm-3 display-4 pt-5">A BETTER FINANCIAL WORLD</h1>
        <hr class="master-bg w-25" style="height:5px;" align="left">
        <h3 class="text-white font-weight-bold pt-4"> We ignite opportunities for businesses and investors by providing a better deal for everyone.</h3>
      </div>
    </div>
  </div>
</header>

<section>

<div class="container-fluid master-bg">
  <div class="row p-5">
    <div class="col-lg-6 text-white my-auto text-justify">
      <h1 class="font-weight-bold fa-2x my-4">Revolutionising a broken system</h1>
      <h4 class="font-weight-light lead">When Ifundingroup was founded, we could see that businesses weren’t being given the finance to grow, while investors were making poor returns. We had a simple idea — let them support each other.<br><br>
        By lending directly to businesses through Ifundingroup, investors can now earn attractive returns to better provide for their future. Businesses get fast, easy access to funding to grow, create jobs, support local communities and drive the economy forward. We believe it’s better for everyone.
        <br><br>
        Read how we’re driving the economy forward in our impact report
      </h4>
    </div>
    <div class="col-lg-6 bg-white p-2">
      <img class="img-fluid" src="../images/trainee.jpg">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row py-4">
    <div class="col-sm-7 my-auto pl-sm-5">
      <h5 class="font-weight-light">
        When small businesses succeed, everyone benefits. In 2018, small businesses used their loans to unlock 115,000 jobs globally.
      </h5>
    </div>
    <div class="col-sm-5 my-auto">
      <h5 class="font-weight-light text-center">
        <span class="master-color display-4">£8.1 billion</span><br>
        <span>Lent to businesses globally</span>
      </h5>
    </div>
  </div>
  </div>

  <div class="container-fluid">
    <div class="row bg-light">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 text-center">
                <h1 class="font-weight-bold master-color display-sm-3 display-4 pt-5">WE BELIEVE IN THOSE MADE TO DO MORE</h1>
        <hr class="master-bg w-50" style="height:5px;">
        <h3 class=" my-4 font-weight-light">Business owners and investors share a common thread. They’re forward thinkers. They’re determined. They stand up to make a difference and work hard to make it happen.</h3>
        <h5 class="font-weight-light mb-5">That same thread runs through everyone at Ifundingroup. It’s a shared mission that inspires us – we help you as you change the world.<br><br>
          So whether you’re a business owner who aspires to more, or an investor who wants your money to go further, we believe in you. You’re the ones we built Ifundingroup for.
        </h5>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row p-5">
    <div class="col-lg-6 my-auto text-justify">
      <h1 class="font-weight-bold master-color fa-2x my-4">We’ve helped 77,000 small businesses across the world</h1>
      <h4 class="font-weight-light lead">From accountants and jewellers to bakers and film makers, we’ve helped thousands of businesses in the UK, US, Germany and the Netherlands to take their next step forward.<br><br>

        <button class="btn btn-xl bg-none"><u><a href="apply_now.html" class="text-dark" style="font-size: 20px">Open A Classic Account</a></u></button>
        
      </h4>
    </div>
    <div class="col-lg-6 master-bg p-2">
      <img class="img-fluid" src="../images/catering_girl.jpg">
    </div>
  </div>
</div>

<div class="container-fluid master-bg">
  <div class="row p-5">
        <div class="col-lg-6 bg-white p-2">
      <img class="img-fluid" src="../images/shopkeeper.jpg">
    </div>

    <div class="col-lg-6 text-white my-auto text-justify">
      <h1 class="font-weight-bold fa-2x my-4">93,000 investors are earning for their future</h1>
      <h4 class="font-weight-light lead">There’s a huge community lending through Ifundingroup. Thousands of people, local and national governments and financial institutions have lent over £8.1 billion, helping thousands of businesses while earning for their futures.<br><br>
        By lending directly to businesses through Ifundingroup, investors can now earn attractive returns to better provide for their future. Businesses get fast, easy access to funding to grow, create jobs, support local communities and drive the economy forward. We believe it’s better for everyone.
      </h4>
    </div>
  </div>
</div>

<div class="container-fluid bg-light p-5">
  <div class="row">
  <div class="col-md-4 my-auto text-center">
    <img src="../images/telegraph_logo.svg">
  </div>
  <div class="col-md-8">
    <p class="lead fa-2x">"<b>Ifundingroup has been the most lucrative</b> [peer-to-peer platform]. Since I joined in August 2012, drip feeding cash in, my returns, after all fees and bad debt adjustment, have been 6.2pc"</p>
    <p class="text-left text-dark">-Martin Lewis, writing in The Daily Telegraph, 2013</p>
  </div>
</div>
</div>

<div class="container-fluid">
  <div class="col">
    <h1 class="font-weight-bold master-color fa-2x my-4 text-center">Global leadership team</h1>
  </div>
<div class="row p-4">
  <div class="col-sm-3 text-center">
    <img src="../images/user.png">
    <p><b>Samir Desai CBE</b><br>
Founder, Chief Executive Officer</p>
  </div>
   <div class="col-sm-3 text-center">
         <img src="../images/user.png">
    <p><b>Samir Desai CBE</b><br>
Founder, Chief Executive Officer</p>
   </div>
    <div class="col-sm-3 text-center">
          <img src="../images/user.png">
    <p><b>Samir Desai CBE</b><br>
Founder, Chief Executive Officer</p>
    </div>
     <div class="col-sm-3 text-center">
           <img src="../images/user.png">
    <p><b>Samir Desai CBE</b><br>
Founder, Chief Executive Officer</p>
     </div>
</div>

<div class="col my-5">
    <h1 class="font-weight-bold master-color fa-2x my-4 text-center">The team</h1>
  </div>
<div class="row p-4">
  <div class="col-sm-3 text-center">
    <img src="../images/user.png">
    <p><b>Samir Desai CBE</b><br>
Founder, Chief Executive Officer</p>
  </div>
   <div class="col-sm-3 text-center">
         <img src="../images/user.png">
    <p><b>Samir Desai CBE</b><br>
Founder, Chief Executive Officer</p>
   </div>
    <div class="col-sm-3 text-center">
          <img src="../images/user.png">
    <p><b>Samir Desai CBE</b><br>
Founder, Chief Executive Officer</p>
    </div>
     <div class="col-sm-3 text-center">
           <img src="../images/user.png">
    <p><b>Samir Desai CBE</b><br>
Founder, Chief Executive Officer</p>
     </div>
</div>

</div>

<div class="container-fluid bg-light">
<div class="row p-sm-5 p-0">
<div class="col-sm-4">
<h1 class="fa-lg">We’re here to help</h1>
<h5 class="font-weight-light">Questions? Get in touch with our support team for help or more information.</h5>
<h1><span class="fa fa-user-circle-o master-color"></span> 020 7401 9111</h1>
</div>
<div class="col-sm-4">
<h3>How it works</h3>
<h4 class="font-weight-light">FLearn more about how our loans are funded directly by a range of investors.</h4>
<a href="#!" class="text-dark font-weight-bold"><u>See how it works</u></a>
</div>
<div class="col-sm-4">
<h3>Small business, big impact</h3>
<h4 class="font-weight-light">Read how we’re driving the economy forward in our impact report.</h4>
<a href="#!" class="text-dark font-weight-bold"><u>Read the impact report</u></a>
</div>
</div>
  </div>
<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 footer-bg">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Ifundingroup</h5>
        <p>Ifundingroup Limited is authorised and regulated by the Financial Conduct Authority under firm registration number 722513. Ifundingroup is not covered by the Financial Services Compensation Scheme. Registered in England (Co. No. 06968588) with registered office at 71 Queen Victoria Street, London, EC4V 4AY.
        </p>

      </div>

      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Useful links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="about_us.html">About us</a>
          </li>
          <li>
            <a href="business_loan.html">Get business loan</a>
          </li>
          <li>
            <a href="careers.html">Careers</a>
          </li>

      </div>

      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="faq.html">FAQ</a>
          </li>
          <li>
            <a href="contact_us.html">Contact Us</a>
          </li>
          <li>
            <a href="invest_your_money.html">Investor</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Register for free</h5>
    </li>
    <li class="list-inline-item">
      <a href="sign_up.html" class="btn master-bg text-white btn-rounded">Sign up!</a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fa fa-facebook"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fa fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fa fa-google-plus"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fa fa-linkedin"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fa fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#!"> Ifundingroup.net</a>  |  Design & developed by :
    <a href="https://www.freelancer.com/u/DeveloperAlok?w=f"> Alok</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</section>
<script type="text/javascript" src="../js/index.js"></script>
</body>