<html lang="en">
<head>
  <title>Investment- get business loan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!--custom link-->
<link rel="stylesheet" type="text/css" href="../style/style.css">
<link rel="stylesheet" type="text/css" href="../style/investor_style.css">
<link rel="stylesheet" type="text/css" href="../style/business_style.css">
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light position-absolute w-100 mt-sm-5 mt-5">
  <div class="container mt-sm-1 mt-4" id="nav-con">
    <a class="navbar-brand" href="#"><b>Ifundingroup</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="border-color:white">
  <span>   
    <i class="fa fa-navicon" style="color:#fff; font-size:20px;"></i>
  </span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../index.html">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="invest_your_money.html">Invest your money</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="business_loan.html">Get a business loan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about_us.html">About us</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="contact_us.html">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row master-bg text-white pb-sm-0 pb-2">
    <div class="col-sm-6 pl-5 text-sm-left text-center">
     <i class="fa fa-mobile" style="font-size: 25px"></i>
     <span style="font-size: 19px;"> +11 1234567891</span>
    </div>

    <div class="col-sm-6 text-sm-right text-center pr-5 pt-1">
      <i class="fa fa-whatsapp fa-lg pr-4 pl-5"></i>
      <i class="fa fa-facebook fa-lg pr-3 pr-sm-"></i>
      <i class="fa fa-twitter fa-lg pr-3"></i>
      <i class="fa fa-instagram fa-lg"></i>
    </div>
  </div>
</div>
<!-- Full Page Image Header with Vertically Centered Content -->
<header class="business_masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <h1 class="font-weight-bold text-white display-sm-3 display-4 pt-5">We say yes to a business<br> loan every 5 minutes</h1>
        <h3 class="text-white font-weight-bold pt-4"> Fast, affordable finance to help your business. Fund your next <br>step with an unsecured loan up to £500,000.</h3>

            <div class="row mt-5">
         <div class="col-sm-12">
        <button class="btn btn-xl master-bg"><a href="apply_now.html" class="text-white" style="font-size: 20px">Get your personalize rate </a></button>
        <span class="text-white"> &nbsp;&nbsp;OR</span>
       <button class="btn btn-xl bg-none"><u><a href="apply_now.html" class="text-white" style="font-size: 20px">Apply now</a></u></button>
      </div>

    </div>

      </div>
    </div>
  </div>
</header>

<section>
  <div class="container-fluid">
    <div class="row text-white font-weight-bold shadow" id="silent-features">
      <div class="col-sm-3 text-center">
        <i class="fa fa-check-circle-o fa-3x"></i>
        <p>Unsecured loans <br>
         £10k – £500k</p>
      </div>
            <div class="col-sm-3 text-center">
        <i class="fa fa-check-circle-o fa-3x"></i>
        <p>Rates from <br> 1.9% per year</p>
      </div>
      <div class="col-sm-3 text-center">
        <i class="fa fa-check-circle-o fa-3x"></i>
        <p>Get a decision in <br> as little as 5 hours</p>
      </div>
      <div class="col-sm-3 text-center">
        <i class="fa fa-check-circle-o fa-3x"></i>
        <p>No fees for full  <br>early repayment</p>
      </div>
    </div>
    </div>

    <div class="container my-5">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="font-weight-bold master-color display-4 text-center p-2">
            Finance for almost any purpose
          </h1>
          <h4 class="text-left font-weight-light my-4">
            We help established businesses of all sizes take their next step. So whatever your next goal is, just tell us how we can help when you apply.
          </h4>
          <hr class="master-bg">
          <h4 class="master-color p-2">POPULAR REASONS TO BORROW</h4>
          <div class="row">
            <div class="col-sm-4">
              <table align="center">
              <tr>
                <td>
                  <p class="fa-2x my-2"><span class="fa fa-check master-color"></span></p>
                </td>
                <td>
                  <h4 class="my-2 font-weight-light pl-3">Earn interest tax-free</h4>
                </td>
              </tr>
                            <tr>
                <td>
                  <p class="fa-2x my-2"><span class="fa fa-check master-color"></span></p>
                </td>
                <td>
                  <h4 class="my-2 font-weight-light pl-3">Earn interest tax-free</h4>
                </td>
              </tr>
            </table>
            </div>
            <div class="col-sm-4">
                            <table align="center">
              <tr>
                <td>
                  <p class="fa-2x my-2"><span class="fa fa-check master-color"></span></p>
                </td>
                <td>
                  <h4 class="my-2 font-weight-light pl-3">Earn interest tax-free</h4>
                </td>
              </tr>
                            <tr>
                <td>
                  <p class="fa-2x my-2"><span class="fa fa-check master-color"></span></p>
                </td>
                <td>
                  <h4 class="my-2 font-weight-light pl-3">Earn interest tax-free</h4>
                </td>
              </tr>
            </table>
            </div>
            <div class="col-sm-4">
               <table align="center">
              <tr>
                <td>
                  <p class="fa-2x my-2"><span class="fa fa-check master-color"></span></p>
                </td>
                <td>
                  <h4 class="my-2 font-weight-light pl-3">Earn interest tax-free</h4>
                </td>
              </tr>
                            <tr>
                <td>
                  <p class="fa-2x my-2"><span class="fa fa-check master-color"></span></p>
                </td>
                <td>
                  <h4 class="my-2 font-weight-light pl-3">Earn interest tax-free</h4>
                </td>
              </tr>
            </table>
            </div>
          </div>
        </div>

      </div>
    </div>


<div class="container-fluid master-bg">
        <div class="row">
        <div class="col-sm-6 py-3">
          <h4 class="font-weight-light text-sm-left text-center text-white p-3">
            We’ve helped <b>54,000</b> established businesses in the UK, and approve a new business loan on average<b> every 5 minutes.</b></h4>

        </div>
        <div class="col-sm-6 text-center my-auto">
         <button class="btn btn-xl border"><a href="apply_now.html" class="text-white" style="font-size: 20px">Get your personalised rate</a></button>
        </div>
      </div>
</div>


<div class="container-fluid">
  <div class="row p-5">
    <div class="col-sm-6 my-auto">
      <h1 class="font-weight-bold fa-2x"><span class="fa fa-quote-left"></span>Very efficient service. I would highly recommend Ifundingroup to anyone needing a business loan.<span class="fa fa-quote-right"></span></h1>
      <h5 class="font-weight-bold master-color p-2">-Alvin, July 2017</h5>
    </div>
    <div class="col-sm-6 master-bg p-2">
      <img class="img-fluid" src="../images/business_review.jpg">
    </div>
  </div>
</div>

<!--our easy steps-->
<div class="container-fluid p-sm-5 my-5 bg-light">
  <!--our easy steps-->
<div class="row">
<div class="col-sm-6 bg-white">
  <h1 class="font-weight-bold master-color fa-2x pb-3">How to get a business loan</h1>
  <h4 class="font-weight-light text-justify">With a simple online form, dedicated account manager and fast decision, you can stay focused on your business while we focus on your loan.</h4>
<div id="review-main">
  <p id="steps">
    <b class="border-bottom">Check if you qualify in 30 seconds</b><br><br>
  See if you’re eligible without affecting your credit score.</p>
  <p id="steps">
    <b class="border-bottom"><br><br>Apply online in 10 minutes</b><br><br>
  Tell us about you and your business with our simple form.</p>
  <p id="steps">
    <b class="border-bottom">Decision in 24 hours</b><br><br>
 If approved, you’ll get a personalised quote typically in 24 hours.</p>
    <p id="steps">
      <b class="border-bottom"><br><br>Your funds arrive</b><br><br>
    Once you accept, you’ll have the money in your account in days.</p>
    
  </div>
          <button class="btn btn-xl master-bg mb-4"><a href="apply_now.html" class="text-white" style="font-size: 20px">Get your personalize rate </a></button>
    </div>
  <div class="col-sm-6 p-5 my-auto">
    <h1 class="fa-2x my-sm-4">Here to help if you need us</h1>
    <h5 class="font-weight-light my-sm-4">You’ll get a dedicated account manager you can speak to straight away. They’ll answer any questions and guide you through the process. Just call them directly.</h5>
    <h1 class="my-4"><span class="fa fa-user-circle-o master-color"></span> 020 7401 9111</h1><br>
    <h4 class="font-weight-light my-4"><span class="fa fa-quote-left"></span> Excellent support and service. Applying for a loan was so simple.<span class="fa fa-quote-right"></span></h4>
    <h5 class="master-color font-weight-light p-2">-Richard, July 2017</h5>
  </div>
</div>
<!--END our easy steps-->
</div>


<div class="container-fluid">
  <div class="row p-5">
    <div class="col-sm-6 my-auto">
      <h1 class="font-weight-bold master-color p-2 fa-2x">Fixed, affordable monthly payments</h1>
      <h5 class="font-weight-light p-2">You can borrow £10,000 to £1,000,000 and pay back over 6 months to 5 years. There are no fees for full early repayment, so you can pay off your business loan in one go and you’ll only pay interest on the time you borrow.<br><br>
        Our rates start from 1.9% per year - fees apply.
      </h5>
       <button class="btn btn-xl master-bg my-4"><a href="apply_now.html" class="text-white" style="font-size: 20px">Get your personalize rate </a></button>
    </div>
    <div class="col-sm-6 master-bg p-2">
      <img class="img-fluid" src="../images/shopkeeper.jpg">
    </div>
  </div>
</div>

<div class="container-fluid my-5 bg-light">
  <div class="row">
  <div class="col-md-4 my-auto text-center">
    <img src="../images/telegraph_logo.svg">
  </div>
  <div class="col-md-8">
    <p class="lead fa-2x">"<b>Ifundingroup has been the most lucrative</b> [peer-to-peer platform]. Since I joined in August 2012, drip feeding cash in, my returns, after all fees and bad debt adjustment, have been 6.2pc"</p>
    <p class="text-left text-dark">-Martin Lewis, writing in The Daily Telegraph, 2013</p>
  </div>
</div>
</div>

<div class="container-fluid bg-white my-5 text-center">
<div class="row">
  <div class="col-sm-2">
    <img src="../images/telegraph_logo.svg">
  </div>
  <div class="col-sm-2">
    <img src="../images/city_am_logo.svg">
  </div>
  <div class="col-sm-2">
    <img src="../images/ft_logo.svg">
  </div>
  <div class="col-sm-2">
    <img src="../images/guardian_logo.svg">
  </div>
  <div class="col-sm-2">
    <img src="../images/bbc_news_logo.svg">
  </div>
      <div class="col-sm-2">
    <img src="../images/economist_logo.svg">
  </div>

</div>
</div>

<div class="container-fluid bg-light">
<div class="row p-sm-5 p-0">
<div class="col-sm-4">
<h1 class="fa-lg">We’re here to help</h1>
<h5 class="font-weight-light">Questions? Get in touch with our support team for help or more information.</h5>
<h1><span class="fa fa-user-circle-o master-color"></span> 020 7401 9111</h1>
</div>
<div class="col-sm-4">
<h3>About us</h3>
<h4 class="font-weight-light">Find out how we’re changing finance to help businesses around the world.</h4>
<a href="about_us.html" class="text-dark font-weight-bold"><u>Learn more about us</u></a>
</div>
<div class="col-sm-4">
<h3>How it works</h3>
<h4 class="font-weight-light">Learn how our business loans are funded by a range of investors.</h4>
<a href="business_loan.html" class="text-dark font-weight-bold"><u>See how it works</u></a>
</div>
</div>
  </div>

</section>   


<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 footer-bg">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Ifundingroup</h5>
        <p>Ifundingroup Limited is authorised and regulated by the Financial Conduct Authority under firm registration number 722513. Ifundingroup is not covered by the Financial Services Compensation Scheme. Registered in England (Co. No. 06968588) with registered office at 71 Queen Victoria Street, London, EC4V 4AY.
        </p>

      </div>

      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Useful links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="about_us.html">About us</a>
          </li>
          <li>
            <a href="business_loan.html">Get business loan</a>
          </li>
          <li>
            <a href="careers.html">Careers</a>
          </li>

      </div>

      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="faq.html">FAQ</a>
          </li>
          <li>
            <a href="contact_us.html">Contact Us</a>
          </li>
          <li>
            <a href="invest_your_money.html">Investor</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Register for free</h5>
    </li>
    <li class="list-inline-item">
      <a href="sign_up.html" class="btn master-bg text-white btn-rounded">Sign up!</a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fa fa-facebook"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fa fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fa fa-google-plus"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fa fa-linkedin"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fa fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#!"> Ifundingroup.net</a>  |  Design & developed by :
    <a href="https://www.freelancer.com/u/DeveloperAlok?w=f"> Alok</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</section>
<script type="text/javascript" src="../js/index.js"></script>
</body>