<html lang="en">
<head>
  <title>Investment- carrer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/ulg/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!--custom link-->
<link rel="stylesheet" type="text/css" href="../style/style.css">
<link rel="stylesheet" type="text/css" href="../style/investor_style.css">
<link rel="stylesheet" type="text/css" href="../style/career_style.css">
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light position-absolute w-100 mt-sm-5 mt-5">
  <div class="container mt-sm-1 mt-4" id="nav-con">
    <a class="navbar-brand" href="#"><b>Ifundingroup</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="border-color:white">
  <span>   
    <i class="fa fa-navicon" style="color:#fff; font-size:20px;"></i>
  </span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../index.html">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="invest_your_money.html">Invest your money</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="business_loan.html">Get a business loan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about_us.html">About us</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="contact_us.html">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row master-bg text-white pb-sm-0 pb-2">
    <div class="col-sm-6 pl-5 text-sm-left text-center">
     <i class="fa fa-mobile" style="font-size: 25px"></i>
     <span style="font-size: 19px;"> +11 1234567891</span>
    </div>

    <div class="col-sm-6 text-sm-right text-center pr-5 pt-1">
      <i class="fa fa-whatsapp fa-lg pr-4 pl-5"></i>
      <i class="fa fa-facebook fa-lg pr-3 pr-sm-"></i>
      <i class="fa fa-twitter fa-lg pr-3"></i>
      <i class="fa fa-instagram fa-lg"></i>
    </div>
  </div>
</div>
<!-- Full Page Image Header with Vertically Centered Content -->
<header class="contact_masthead">
<div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 pt-5">
        <h1 class="font-weight-bold text-white display-sm-3 display-4 pt-5">A BETTER FINANCIAL WORLD</h1>
        <hr class="master-bg w-25" style="height:5px;" align="left">
        <h3 class="text-white font-weight-bold pt-4"> We ignite opportunities for businesses and investors by providing a better deal for everyone.</h3>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container-fluid">
    <div class="row bg-light">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 text-center">
                <h1 class="font-weight-bold master-color display-sm-3 display-4 pt-5">WE’RE BUILDING A BETTER FINANCIAL WORLD</h1>
        <hr class="master-bg w-50" style="height:5px;">
        <h3 class=" my-4 font-weight-light">We connect investors with money to lend with businesses who want to borrow. Supporting each other, businesses get the finance they need to progress, and investors can earn great returns.</h3>

    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<div class="container-fluid px-sm-5 bg-light">
  <div class="row">
<div class="col">
        <h1 class="font-weight-bold master-color fa-3x text-center pb-2 pt-5">Why work at Ifundingroup?</h1>
</div>
  </div>
  <div class="row px-sm-5">
  <div class="col-sm-4">
    <h3>Innovation</h3>
    <h5 class="font-weight-light">We are a fast moving, innovative company, creating new solutions with the latest tech, data and fantastic service to make our platform work for all.</h5>
    </div>
    <div class="col-sm-4">
    <h3>Make a difference</h3>
    <h5 class="font-weight-light">We help small businesses get the finance they need to grow, creating thousands of jobs and driving the economy forward.</h5>
    </div>
    <div class="col-sm-4">
    <h3>People</h3>
    <h5 class="font-weight-light">Our people are the core of our success, and we believe in a culture that’s as open and collaborative as it is passionate and ambitious.</h5>
    </div>
  </div>

<div class="row text-center mt-5 px-5 pb-5">
  <div class="col-sm-6">
    <h1 class="pr-sm-5 pr-0"> We invest in our people</h1>
    <h5 class="font-weight-light text-left">
      We want everyone to feel ownership at Ifundingroup, and that they can keep building their career with us.
    </h5>
    <table align="center">
      <tr>
        <td>
          <p class="fa-2x my-2"><span class="fa fa-check master-color"></span></p>
        </td>
        <td>
          <h4 class="my-2 font-weight-light pl-3">Global career development opportunities</h4>
        </td>
      </tr>
            <tr>
        <td>
          <p class="fa-2x my-2"><span class="fa fa-check master-color"></span></p>
        </td>
        <td>
          <h4 class="my-2 font-weight-light pl-3">Learn new skills in FC Academy</h4>
        </td>
      </tr>
        <tr>
        <td>
          <p class="fa-2x my-2"><span class="fa fa-check master-color"></span></p>
        </td>
        <td>
          <h4 class="my-2 font-weight-light pl-3">Regular company socials for all employees</h4>
        </td>
      </tr>
      <tr><td></td></tr>
    </table>
   
  </div>
  <div class="col-sm-6">
    
        <h1 class="pr-sm-5 pr-0"> We keep things social </h1>
        <h5 class="font-weight-light text-left">
      There’s more to life than work, and we want to have fun and socialize together so everyone enjoys coming to work.
    </h5>
       <table align="center">
      <tr>
        <td>
          <p class="fa-2x my-2"><span class="fa fa-check master-color"></span></p>
        </td>
        <td>
          <h4 class="my-2 font-weight-light pl-3">Regular company wide social events</h4>
        </td>
      </tr>
            <tr>
        <td>
          <p class="fa-2x my-2"><span class="fa fa-check master-color"></span></p>
        </td>
        <td>
          <h4 class="my-2 font-weight-light pl-3">Charity events and competitions</h4>
        </td>
      </tr>
        <tr>
        <td>
          <p class="fa-2x my-2"><span class="fa fa-check master-color"></span></p>
        </td>
        <td>
          <h4 class="my-2 font-weight-light pl-3">Sports teams and events for all interests</h4>
        </td>
      </tr>
      <tr><td></td></tr>
    </table>
  </div>
  </div>
</div>

<div class="container-fluid master-bg">
  <div class="row">
    <div class="col">
<h1 class="text-white text-center py-4">A day in the life at Ifundingroup</h1>
    </div>
  </div>
  <div class="row pb-5 px-5">
    <div class="col-lg-6 text-white my-auto text-justify">
      <h1 class="font-weight-bold my-4">An engineer’s day…</h1>
      <h4 class="font-weight-light lead">Arrive in the morning and grab some breakfast (for free!) then head to our morning meeting. Monday’s we plan for the week, then it’s standup Tues-Fri. We work in an agile way, always looking for new solutions to problems and don’t tie ourselves to set ways of working.<br><br>
        We’ll break for lunch at the Funderbar, play some table tennis, then back to the command line. We’ll have a regular tech huddle too to make sure we’re aligned across all the teams.
      </h4>
    </div>
    <div class="col-lg-6 bg-white p-2">
      <img class="img-fluid" src="../images/enginer.jpg">
    </div>
  </div>
    <div class="row py-5 px-5">
          <div class="col-lg-6 bg-white p-2">
      <img class="img-fluid" src="../images/sales.jpg">
    </div>
    <div class="col-lg-6 text-white my-auto text-justify">
      <h1 class="font-weight-bold my-4">A day in sales…</h1>
      <h4 class="font-weight-light lead">We start each morning with a standup to review yesterday’s progress and expectations for the day. Then it’s time to crack on with calling and emailing potential customers.<br><br>
        It’s a really vibrant atmosphere, there’s a lot of energy in the team and we’re always sharing learnings and supporting each other. As a fast moving business we have to stay up to date on any changes, and get to give input on what we think will or won’t work well.
      </h4>
    </div>
  </div>
</div>
<div class="container-fluid bg-white my-5 text-center">
<div class="row">
  <div class="col-sm-2">
    <img src="../images/telegraph_logo.svg">
  </div>
  <div class="col-sm-2">
    <img src="../images/city_am_logo.svg">
  </div>
  <div class="col-sm-2">
    <img src="../images/ft_logo.svg">
  </div>
  <div class="col-sm-2">
    <img src="../images/guardian_logo.svg">
  </div>
  <div class="col-sm-2">
    <img src="../images/bbc_news_logo.svg">
  </div>
      <div class="col-sm-2">
    <img src="../images/economist_logo.svg">
  </div>

</div>
</div>

<div class="container-fluid">
  <div class="row p-5">
    <div class="col-lg-6 my-auto text-justify">
      <h4 class=""><span class="fa fa-quote-left"></span> I joined the engineering team at Ifundingroup a few years ago, and love it. The team is talented, knowledgeable, supportive and fun to work with. <span class="fa fa-quote-right"></span>
      </h4>
      <small>-Lucy Oliphant, Frontend Engineer</small>
    </div>
    <div class="col-lg-6 master-bg p-2">
      <img class="img-fluid" src="../images/staff.jpg">
    </div>
  </div>
</div>

<div class="container-fluid bg-light my-4">
  <div class="row text-center">
    <div class="col-sm-6">
      <h1 class="my-4 master-color">Our current vacancies</h1>
      <hr class="master-bg w-25" style="height:5px">
    </div>

    <div class="col-sm-6 my-auto">
      <button class="btn btn-xl master-bg"><a href="sign_up.html" class="text-white" style="font-size: 20px">Sign up for Job Alerts</a></button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="accordion mt-5" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="clearfix mb-0">
              <span>Collections & Recoveries</span>
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-plus-circle"></i></button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet sagittis. In tincidunt orci sit amet elementum vestibulum.</div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <span>Data, Risk & Analytics</span>
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="fa fa-plus-circle"></i></button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <span>Engineering</span>
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i class="fa fa-plus-circle"></i></button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet sagittis. In tincidunt orci sit amet elementum vestibulum.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <span>Marketing & Communications</span>
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><i class="fa fa-plus-circle"></i></button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
          </div>
        </div>
                <div class="card">
          <div class="card-header" id="headingfive">
            <h2 class="mb-0">
              <span>People Team</span>
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive"><i class="fa fa-plus-circle"></i></button>
            </h2>
          </div>
          <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
          </div>
        </div>
                <div class="card">
          <div class="card-header" id="headingsix">
            <h2 class="mb-0">
              <span>Product, Design, & Delivery</span>
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix"><i class="fa fa-plus-circle"></i></button>
            </h2>
          </div>
          <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample">
            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
          </div>
        </div>
                <div class="card">
          <div class="card-header" id="headingseven">
            <h2 class="mb-0">
              <span>Sales & Business Development</span>
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven"><i class="fa fa-plus-circle"></i></button>
            </h2>
          </div>
          <div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordionExample">
            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
          </div>
        </div>
                <div class="card">
          <div class="card-header" id="headingeight">
            <h2 class="mb-0">
              <span>Security & Infrastructure</span>
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight"><i class="fa fa-plus-circle"></i></button>
            </h2>
          </div>
          <div id="collapseeight" class="collapse" aria-labelledby="headingeight" data-parent="#accordionExample">
            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h5 class="text-center my-4 font-weight-light">If you don’t see a role that fits your profile, then apply with our <a href="sign_up.html" class="text-secondary"><u>General Application.</u></a></h5>
</div>  
<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 footer-bg">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Ifundingroup</h5>
        <p>Ifundingroup Limited is authorised and regulated by the Financial Conduct Authority under firm registration number 722513. Ifundingroup is not covered by the Financial Services Compensation Scheme. Registered in England (Co. No. 06968588) with registered office at 71 Queen Victoria Street, London, EC4V 4AY.
        </p>

      </div>

      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Useful links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="about_us.html">About us</a>
          </li>
          <li>
            <a href="business_loan.html">Get business loan</a>
          </li>
          <li>
            <a href="careers.html">Careers</a>
          </li>

      </div>

      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="faq.html">FAQ</a>
          </li>
          <li>
            <a href="contact_us.html">Contact Us</a>
          </li>
          <li>
            <a href="invest_your_money.html">Investor</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Register for free</h5>
    </li>
    <li class="list-inline-item">
      <a href="sign_up.html" class="btn master-bg text-white btn-rounded">Sign up!</a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fa fa-facebook"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fa fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fa fa-google-plus"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fa fa-linkedin"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fa fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#!"> Ifundingroup.net</a>  |  Design & developed by :
    <a href="https://www.freelancer.com/u/DeveloperAlok?w=f"> Alok</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</section>
<script type="text/javascript" src="../js/index.js"></script>
</body>