<html lang="en">
<head>
  <title>Investment- faq</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/ulg/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!--custom link-->
<link rel="stylesheet" type="text/css" href="../style/style.css">
<link rel="stylesheet" type="text/css" href="../style/investor_style.css">
<link rel="stylesheet" type="text/css" href="../style/contact_style.css">
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light position-absolute w-100 mt-sm-5 mt-5">
  <div class="container mt-sm-1 mt-4" id="nav-con">
    <a class="navbar-brand" href="#"><b>Ifundingroup</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="border-color:white">
  <span>   
    <i class="fa fa-navicon" style="color:#fff; font-size:20px;"></i>
  </span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../index.html">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="invest_your_money.html">Invest your money</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="business_loan.html">Get a business loan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about_us.html">About us</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="contact_us.html">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row master-bg text-white pb-sm-0 pb-2">
    <div class="col-sm-6 pl-5 text-sm-left text-center">
     <i class="fa fa-mobile" style="font-size: 25px"></i>
     <span style="font-size: 19px;"> +11 1234567891</span>
    </div>

    <div class="col-sm-6 text-sm-right text-center pr-5 pt-1">
      <i class="fa fa-whatsapp fa-lg pr-4 pl-5"></i>
      <i class="fa fa-facebook fa-lg pr-3 pr-sm-"></i>
      <i class="fa fa-twitter fa-lg pr-3"></i>
      <i class="fa fa-instagram fa-lg"></i>
    </div>
  </div>
</div>
<!-- Full Page Image Header with Vertically Centered Content -->
<header class="contact_masthead">
<div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 pt-5">
        <h1 class="font-weight-bold text-white display-sm-3 display-4 pt-5">Customer support</h1>
        <hr class="master-bg w-25" style="height:5px;" align="left">
        <h3 class="text-white font-weight-bold pt-4"> Find answers to common questions or get in touch with us</h3>
      </div>
    </div>
  </div>
</header>

<section>
<div class="container">
<div class="row py-5">
<div class="col-sm-6 pl-5">
  <span class="text-primary">Ifundingroup</span><span class="text-secondary">>submit a request</span>
</div>
<div class="col-sm-6 mt-sm-4 mt-md-0 mt-4 text-center">
<form>
  <input class="background-none w-100 pl-3 p-1 border border-secondary" type="search" name="faq" placeholder="search">
</form>
</div>
</div>


<div class="row">
  <div class="col">
<h2 class="p-2"><a href="#!" class="master-color"> FAQ </a><span><a href="contact_us.html" class="text-secondary"> &nbsp;&nbsp;CONTACT IFUNDINGROUP</a></span></h2>
<h2 class="mt-4">General </h2>
<hr class="mb-4">
<a href="#!" class="text-secondary">FOR YOUR EYES ONLY - INTERNAL FAQS</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!">Christmas service hours - Investor Support</a>
</div>
</div>

<div class="row">
<div class="col-sm-12">
  <h2 class="mt-4">Announcements </h2>
<hr class="mb-4">
<div class="row">
<div class="col-sm-6">
  <a href="#!" class="text-secondary">CHANGES TO THE SECONDARY MARKET AND UPDATES TO INVESTOR T&CS</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!" class="mt-2">Christmas service hours - Investor Support</a><br>
<a href="#!" class="mt-2">Christmas service hours - Investor Support</a><br>
<a href="#!" class="mt-2">Christmas service hours - Investor Support</a>
</div>

<div class="col-sm-6">
  <a href="#!" class="text-secondary">LATEST UPDATES</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!">Christmas service hours - Investor Support</a>
</div>

</div>

</div>
</div>

<div class="row">
<div class="col-sm-12">
  <h2 class="mt-4">General FAQs</h2>
<hr class="mb-4">
<div class="row">
<div class="col-sm-6">
  <a href="#!" class="text-secondary">CHANGES TO THE SECONDARY MARKET AND UPDATES TO INVESTOR T&CS</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!" class="mt-2">Christmas service hours - Investor Support</a><br>
<a href="#!" class="mt-2">Christmas service hours - Investor Support</a><br>
<a href="#!" class="mt-2">Christmas service hours - Investor Support</a>
</div>

<div class="col-sm-6">
  <a href="#!" class="text-secondary">LATEST UPDATES</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!">Christmas service hours - Investor Support</a>
</div>

</div>

</div>
</div>

<div class="row">
<div class="col-sm-12">
  <h2 class="mt-4">FAQs for Borrowers </h2>
<hr class="mb-4">
<div class="row">
<div class="col-sm-6">
  <a href="#!" class="text-secondary">CHANGES TO THE SECONDARY MARKET AND UPDATES TO INVESTOR T&CS</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!" class="mt-2">Christmas service hours - Investor Support</a><br>
<a href="#!" class="mt-2">Christmas service hours - Investor Support</a><br>
<a href="#!" class="mt-2">Christmas service hours - Investor Support</a>
</div>

<div class="col-sm-6">
  <a href="#!" class="text-secondary">LATEST UPDATES</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!">Christmas service hours - Investor Support</a>
</div>

</div>

</div>
</div>

<div class="row my-5">
<div class="col-sm-12">
  <h2 class="mt-4">FAQs for Investors</h2>
<hr class="mb-4">
<div class="row">
<div class="col-sm-6">
  <a href="#!" class="text-secondary">CHANGES TO THE SECONDARY MARKET AND UPDATES TO INVESTOR T&CS</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!" class="mt-2">Christmas service hours - Investor Support</a><br>
<a href="#!" class="mt-2">Christmas service hours - Investor Support</a><br>
<a href="#!" class="mt-2">Christmas service hours - Investor Support</a>
</div>

<div class="col-sm-6">
  <a href="#!" class="text-secondary">LATEST UPDATES</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!">Christmas service hours - Investor Support</a><br>
<a href="#!">Christmas service hours - Investor Support</a>
</div>

</div>

</div>
</div>

</div><!--container-->
<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 footer-bg">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Ifundingroup</h5>
        <p>Ifundingroup Limited is authorised and regulated by the Financial Conduct Authority under firm registration number 722513. Ifundingroup is not covered by the Financial Services Compensation Scheme. Registered in England (Co. No. 06968588) with registered office at 71 Queen Victoria Street, London, EC4V 4AY.
        </p>

      </div>

      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Useful links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="about_us.html">About us</a>
          </li>
          <li>
            <a href="business_loan.html">Get business loan</a>
          </li>
          <li>
            <a href="careers.html">Careers</a>
          </li>

      </div>

      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="faq.html">FAQ</a>
          </li>
          <li>
            <a href="contact_us.html">Contact Us</a>
          </li>
          <li>
            <a href="invest_your_money.html">Investor</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Register for free</h5>
    </li>
    <li class="list-inline-item">
      <a href="sign_up.html" class="btn master-bg text-white btn-rounded">Sign up!</a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fa fa-facebook"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fa fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fa fa-google-plus"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fa fa-linkedin"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fa fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#!"> Ifundingroup.net</a>  |  Design & developed by :
    <a href="https://www.freelancer.com/u/DeveloperAlok?w=f"> Alok</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</section>
<script type="text/javascript" src="../js/index.js"></script>
</body>