<html lang="en">
<head>
  <title>Investment- apply for loan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/ulg/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!--custom link-->
<link rel="stylesheet" type="text/css" href="../style/style.css">
<link rel="stylesheet" type="text/css" href="../style/investor_style.css">
<link rel="stylesheet" type="text/css" href="../style/contact_style.css">
<body>
<!-- Navigation -->

<div class="container-fluid">
  <div class="row master-bg text-white pb-sm-0 pb-2">
    <div class="col-sm-6 pl-5 text-sm-left text-center">
     <i class="fa fa-mobile" style="font-size: 25px"></i>
     <span style="font-size: 19px;"> +11 1234567891</span>
    </div>

    <div class="col-sm-6 text-sm-right text-center pr-5 pt-1">
      <i class="fa fa-whatsapp fa-lg pr-4 pl-5"></i>
      <i class="fa fa-facebook fa-lg pr-3 pr-sm-"></i>
      <i class="fa fa-twitter fa-lg pr-3"></i>
      <i class="fa fa-instagram fa-lg"></i>
    </div>
  </div>
</div>
  <div class="container-fluid border-bottom border-dark">
    <div class="row">
      <div class="col px-5 py-3">
    <a class="navbar-brand text-dark border-dark" href="#"><b>Ifundingroup</b></a>
  </div>
</div>
</div>

<section>
<div class="container-fluid bg-light">
<div class="row py-5">
<div class="col-sm-6 offset-sm-3 p-sm-5 justify-content-center bg-white">
  <h1 class="fa-2x master-color p-2">Set a new password</h1>
<form class="my-3">
<h5 class="fa-lg">Email</h5>
    <div class="input-group mb-4 mt-3">
      <input class="form-control" type="email" placeholder="Example@gmail.com" aria-label="Search">
</div>
<button type="submit" class="btn btn-xl px-4 py-3 master-bg text-white font-weight-bold fa-lg">Email me</button>
</form>
</div>
</div>
</div>
</div>
<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 footer-bg">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Ifundingroup</h5>
        <p>[company name] Limited is authorised and regulated by the Financial Conduct Authority under firm registration number 722513. Ifundingroup is not covered by the Financial Services Compensation Scheme. Registered in England (Co. No. 06968588) with registered office at 71 Queen Victoria Street, London, EC4V 4AY.
        </p>

      </div>

      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Useful links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="about_us.html">About us</a>
          </li>
          <li>
            <a href="business_loan.html">Get business loan</a>
          </li>
          <li>
            <a href="careers.html">Careers</a>
          </li>

      </div>

      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="faq.html">FAQ</a>
          </li>
          <li>
            <a href="contact_us.html">Contact Us</a>
          </li>
          <li>
            <a href="invest_your_money.html">Investor</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Register for free</h5>
    </li>
    <li class="list-inline-item">
      <a href="sign_up.html" class="btn master-bg text-white btn-rounded">Sign up!</a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fa fa-facebook"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fa fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fa fa-google-plus"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fa fa-linkedin"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fa fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#!"> Ifundingroup.net</a>  |  Design & developed by :
    <a href="https://www.freelancer.com/u/DeveloperAlok?w=f"> Alok</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</section>
<script type="text/javascript" src="../js/index.js"></script>
</body>